body {
  margin: 0;
  font-size: 16px;
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format(opentype);
}
@font-face {
  font-family: "Avenir-Demi";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format(opentype);
}
@font-face {
  font-family: "Avenir-Regular";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format(opentype);
}
.hero {
  position: relative;
  width: 100%;
}
.hero__image-container {
  background-image: url("../../Assets/Images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 22vh;
  aspect-ratio: 16/9;
}
@media screen and (min-width: 768px) {
  .hero__image-container {
    height: 55vh;
  }
}
@media screen and (min-width: 1024px) {
  .hero__image-container {
    height: 90vh;
  }
}
.hero__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__header {
  position: absolute;
  z-index: 2;
  top: 35%;
  font-family: "Avenir-Regular";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #FFFFFF;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__header {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero__header {
    font-size: 6rem;
  }
}
@media screen and (min-width: 768px) {
  .hero__header {
    margin-left: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero__header {
    margin-left: 6rem;
  }
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format(opentype);
}
@font-face {
  font-family: "Avenir-Demi";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format(opentype);
}
@font-face {
  font-family: "Avenir-Regular";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format(opentype);
}
.about__section-header {
  font-family: "Avenir-Demi";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0 1rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about__section-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__section-header {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .about__section-header {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__section-header {
    margin: 2rem 6rem;
  }
}
.about__image-container {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .about__image-container {
    margin: 0 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__image-container {
    margin: 0 12rem;
  }
}
.about__image {
  width: 100%;
  max-height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}
@media screen and (min-width: 768px) {
  .about__image {
    max-height: 55vh;
  }
}
@media screen and (min-width: 1024px) {
  .about__image {
    max-height: 80vh;
  }
}
.about__quote {
  font-family: "Avenir-Demi";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #323232;
  margin: 1rem 1rem 0rem 1rem;
}
@media screen and (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__quote {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 768px) {
  .about__quote {
    margin: 2.25rem 6rem 0 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__quote {
    margin: 2.25rem 12rem 0 12rem;
    width: 60%;
  }
}
.about__quote-source {
  font-family: "Avenir-Demi";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #323232;
  margin: 0.25rem 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .about__quote-source {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__quote-source {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 768px) {
  .about__quote-source {
    margin: 0.5rem 6rem 0 6rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__quote-source {
    margin: 0.5rem 12rem 0 12rem;
    font-size: 1.4rem;
  }
}
.about__article-header {
  font-family: "Avenir-Demi";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  margin: 1rem 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .about__article-header {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__article-header {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 768px) {
  .about__article-header {
    margin: 2.25rem 6rem 0 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__article-header {
    margin: 2.25rem 12rem 0 12rem;
  }
}
.about__article-container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .about__article-container {
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 6rem 0 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__article-container {
    margin: 0 12rem;
  }
}
.about__article {
  font-family: "Avenir-Regular";
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.125;
  color: #323232;
  line-height: 1.2rem;
}
@media screen and (min-width: 768px) {
  .about__article {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .about__article {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .about__article {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format(opentype);
}
@font-face {
  font-family: "Avenir-Demi";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format(opentype);
}
@font-face {
  font-family: "Avenir-Regular";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format(opentype);
}
.gallery {
  background-color: #FAFAFA;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-bottom: 3rem;
  }
}
.gallery__header {
  font-family: "Avenir-Demi";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0 1rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .gallery__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .gallery__header {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__header {
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .gallery__header {
    margin: 0 6rem;
  }
}
.gallery__photo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__photo-section {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2.25rem;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .gallery__photo-section {
    margin: 0 6rem;
    gap: 2rem;
  }
}
.gallery__img {
  width: 100%;
  aspect-ratio: 16/9;
  filter: grayscale(100%);
  filter: gray;
}
@media screen and (min-width: 768px) {
  .gallery__img {
    width: 30%;
    flex-grow: 1;
  }
}
.gallery__img:hover {
  filter: none;
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format(opentype);
}
@font-face {
  font-family: "Avenir-Demi";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format(opentype);
}
@font-face {
  font-family: "Avenir-Regular";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format(opentype);
}
.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comments__flex-container {
  display: flex;
  margin: 0 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .comments__flex-container {
    margin: 2rem auto;
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .comments__flex-container {
    margin: 2rem auto;
    width: 60%;
  }
}
.comments__header {
  margin-left: 1rem;
  font-family: "Avenir-Demi";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #323232;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .comments__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .comments__header {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .comments__header {
    margin-left: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .comments__header {
    margin-left: 6rem;
  }
}
.comments__form {
  width: 100%;
  margin: 1rem;
}
.comments__label {
  font-family: "Avenir-Bold";
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.25rem;
  font-family: "avenir-Regular";
  color: #AFAFAF;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .comments__label {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
.comments__label--separator {
  margin-top: 2rem;
  display: inline-block;
}
.comments__form-name, .comments__form-textarea {
  width: 100%;
  background-color: #FAFAFA;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #E1E1E1;
}
.comments__form-name--empty, .comments__form-textarea--empty {
  border-color: #D22D2D;
}
.comments__form-name:focus, .comments__form-textarea:focus {
  outline: 0;
  border-color: #323232;
}
.comments ::-moz-placeholder {
  color: #323232;
}
.comments ::placeholder {
  color: #323232;
}
.comments__form-name {
  min-height: 36px;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  font-family: "Avenir-Regular";
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.125;
  min-height: 48px;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .comments__form-name {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1024px) {
  .comments__form-name {
    padding-left: 1rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}
.comments__form-textarea {
  resize: none;
  font-family: "Avenir-Regular";
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.125;
  color: #323232;
  padding-left: 0.5rem;
  padding-top: 0.75rem;
}
@media screen and (min-width: 768px) {
  .comments__form-textarea {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1024px) {
  .comments__form-textarea {
    padding-left: 1rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}
.comments__image-container {
  border-radius: 50%;
  max-width: 36px;
  max-height: 36px;
  overflow: hidden;
  margin-top: 2.2rem;
}
@media screen and (min-width: 768px) {
  .comments__image-container {
    max-width: 48px;
    max-height: 48px;
  }
}
.comments__image-container--grey {
  background-color: #E1E1E1;
  min-height: 36px;
  min-width: 36px;
  margin-top: 0;
  margin-right: 1rem;
}
@media screen and (min-width: 768px) {
  .comments__image-container--grey {
    min-width: 48px;
    min-height: 48px;
  }
}
.comments__image {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  height: 100%;
}
.comments__button {
  margin-top: 1rem;
  width: 100%;
  border: none;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 5px;
  height: 40px;
  letter-spacing: 1px;
  font-family: "Avenir-Regular";
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.125;
  font-family: "avenir-Demi";
}
@media screen and (min-width: 768px) {
  .comments__button {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .comments__button {
    width: 30%;
    min-width: 150px;
    float: right;
  }
}
.comments__container {
  display: flex;
  flex-direction: column;
}
.comments__flex-div {
  display: flex;
  margin: 0 1rem;
  border-bottom: 2px solid #E1E1E1;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .comments__flex-div {
    width: 70%;
    margin: 2rem auto;
  }
}
@media screen and (min-width: 1024px) {
  .comments__flex-div {
    width: 60%;
  }
}
.comments__comment-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.comments__name, .comments__date, .comments__comment, .comments__likes {
  font-family: "Avenir-Regular";
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.125;
  color: #323232;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .comments__name, .comments__date, .comments__comment, .comments__likes {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1024px) {
  .comments__name, .comments__date, .comments__comment, .comments__likes {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}
.comments__name {
  font-family: "avenir-Demi";
  order: 1;
}
.comments__date {
  color: #AFAFAF;
  order: 2;
}
.comments__comment {
  width: 100%;
  order: 3;
}
.comments__likes {
  order: 4;
}/*# sourceMappingURL=bio.css.map */