body {
  margin: 0;
  font-size: 16px;
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format(opentype);
}
@font-face {
  font-family: "Avenir-Demi";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format(opentype);
}
@font-face {
  font-family: "Avenir-Regular";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format(opentype);
}
.navbar {
  width: 100%;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.navbar__logo-container {
  max-width: 120px;
  max-height: 20px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .navbar__logo-container {
    margin: auto 2rem;
    padding-bottom: 1.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .navbar__logo-container {
    margin: auto 6rem;
  }
}
.navbar__subheader {
  font-family: "Avenir-Demi";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .navbar__subheader {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .navbar__subheader {
    font-size: 1.75rem;
  }
}
.navbar__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  color: #E1E1E1;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .navbar__list {
    align-items: center;
    margin-left: 2rem;
  }
}
.navbar__list-item {
  font-family: "Avenir-Regular";
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.125;
  display: flex;
  list-style: none;
  justify-content: center;
  padding-bottom: 1rem;
  width: 50%;
  border-bottom: 3px solid transparent;
}
@media screen and (min-width: 768px) {
  .navbar__list-item {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .navbar__list-item {
    font-family: "Avenir-Regular";
    font-size: 0.812rem;
    font-weight: 400;
    line-height: 1.125;
    margin-right: 2rem;
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .navbar__list-item {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.navbar__list-item:hover {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}
.navbar__list-item--current-link {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format(opentype);
}
@font-face {
  font-family: "Avenir-Demi";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format(opentype);
}
@font-face {
  font-family: "Avenir-Regular";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format(opentype);
}
.footer {
  background: #323232;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.footer__contacts-section, .footer__header-section {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__contacts-section, .footer__header-section {
    flex-direction: row;
  }
}
.footer__header-section {
  margin-left: 1rem;
  order: 1;
}
@media screen and (min-width: 768px) {
  .footer__header-section {
    margin-left: 3rem;
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .footer__header-section {
    margin-left: 6rem;
  }
}
.footer__contacts-section {
  order: 2;
}
@media screen and (min-width: 768px) {
  .footer__contacts-section {
    order: 3;
  }
}
.footer__logo-section {
  margin-left: 1rem;
  order: 3;
}
@media screen and (min-width: 768px) {
  .footer__logo-section {
    width: 20%;
    margin-left: 3rem;
    order: 2;
  }
}
@media screen and (min-width: 1024px) {
  .footer__logo-section {
    margin-left: 6rem;
  }
}
.footer__copyright-section {
  order: 4;
  margin-left: 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__copyright-section {
    margin-left: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__copyright-section {
    margin-left: 6rem;
  }
}
.footer__logo-container {
  max-width: 120px;
  max-height: 20px;
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .footer__logo-container {
    padding-bottom: 1.75rem;
    margin-top: 5.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__logo-container {
    margin-top: 6rem;
  }
}
.footer__section {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__section {
    margin-left: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__section {
    margin-left: 6rem;
  }
}
.footer__header {
  font-family: "Avenir-Demi";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #FFFFFF;
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__header {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__header {
    margin-right: 1.25rem;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .footer__header {
    margin-right: 4.2rem;
  }
}
.footer__icon {
  height: 25px;
  width: 25px;
  margin-right: 1.25rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__icon {
    margin-top: 5.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__icon {
    margin-top: 6rem;
  }
}
.footer__name {
  font-family: "Avenir-Regular";
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.125;
  color: #FFFFFF;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer__name {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__name {
    font-size: 1.1rem;
  }
}
.footer__role {
  font-family: "Avenir-Regular";
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.125;
  color: #FFFFFF;
  margin-top: 0.25rem;
}
@media screen and (min-width: 768px) {
  .footer__role {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__role {
    font-size: 1.1rem;
  }
}
.footer__location {
  font-family: "Avenir-Regular";
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.125;
  margin-bottom: 0;
  margin-top: 0.25rem;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .footer__location {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__location {
    font-size: 1.1rem;
  }
}
.footer__email {
  font-family: "Avenir-Regular";
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.125;
}
@media screen and (min-width: 768px) {
  .footer__email {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__email {
    font-size: 1.1rem;
  }
}
.footer__copyright {
  font-family: "Avenir-Regular";
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.125;
  color: #AFAFAF;
  font-size: 0.65rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-family: "Avenir-Regular";
    font-size: 0.812rem;
    font-weight: 400;
    line-height: 1.125;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__copyright {
    font-size: 1.2rem;
  }
}
.footer__email-link {
  color: #AFAFAF;
  text-decoration: none;
}/*# sourceMappingURL=global.css.map */